.home {
  padding: 2rem;
}

.welcome, .mission-vision {
  margin-bottom: 2rem;
 
  
}

.welcome h1 {
  font-size: 2.5rem;
  color: #35a42f;
}

.mission-vision h2 {
  font-size: 2rem;
  color: #35a42f;
}


